@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");


#observablehq-footer {
    margin-top: 4px;
}

.grid {
    gap: 2px;
}

.observablehq--block {
    margin: 2px;
}

.card h2 {
    font-size: 22px;
    font-family: var(--sans-serif);
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-wrap: balance;
    min-height: auto;
    max-height: auto;
    min-width: 200px;
    max-width: auto;
}

.popup h3 {
    font-size: 16px;
    text-align: left;
    font-family: var(--sans-serif);
    font-style: bold;
}

.popup p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 2px;
    text-align: justify;
    font-family: var(--serif);
}

.popup footer {
    font-size: 12px;
    margin-top: 4px;
    text-align: left;
    font-style: italic;
    font-family: var(--serif);
}

.popup img {
    min-height: auto;
    max-height: auto;
    min-width: auto;
    max-width: auto;
    aspect-ratio: auto;
}

.popup figure {
    margin-top: 1px;
    margin-bottom: 0px;
}

.figure {
    margin-top: 6px;
    margin-bottom: 6px;
}

.figurecaption {
    font-size: 14px;
    margin-bottom: 0px;
}

.label {
    font-size: 20px;
    padding: 2px;
}

input {
    font-size: inherit;
}

#largeImage #leaflet-container {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    aspect-ratio: auto;
    display: flex;
    flex-direction: column;
}